<!DOCTYPE html>
<html lang="zn-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>醫療機構評價網站</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- jQuery v1.9.1 -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- Chosen v1.8.2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='main1.6.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/searchJS1.15.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/loading.js')}}"></script>
    <link rel=stylesheet type="text/css" href="hos.css">
    <script rel=stylesheet type="text/javascript" src="searchJS1.15.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/page.js')}}"></script>


    <!-- {% if alert %}
    <script>
        alert('{{alert}}');
    </script>
    {% endif %} -->

    <script>
        function hosp() {
            myForm.action = "/hospResult";
        }
        function obj() {
            myForm.action = "/hospObjResult";
        }
        function subj() {
            myForm.action = "/hospSubjResult";
        }
    </script>
</head>

<body class="span">
<!--回首頁浮動按鈕-->
<a href="#top" class="back-to-top" style="z-index:101">回到頁首</a>

<form name="myForm" action="/hospComparison" method="post" runat="server" autocomplete="on">
    <div class="container-fiuld">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #658198;text-align: center">
            <a class="navbar-brand" href="/"><img src="https://pbs.twimg.com/media/DrvK7_5UcAARp62.png" class=""
                                                  style="width:70px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">首頁</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="search">搜尋 <span class="sr-only">(current)</span></a>
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">聯絡我們</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </nav>
        <script>
            // $(document).ready(function() {
            //      {% if reserved %}
            //          document.myForm.county.options[{{reserved[0]}}].selected = true;
            //          hospRenew({{reserved[0]}})
            //          document.myForm.hospTownship.options[{{reserved[1]}}].selected = true;
            //          document.myForm.name1.value = '{{reserved[2]}}'
            //          document.myForm.name2.value = '{{reserved[3]}}'
            //          document.myForm.name3.value = '{{reserved[4]}}'
            //          document.myForm.t1.checked = {{reserved[5]}}
            //          document.myForm.t2.checked = {{reserved[6]}}
            //          document.myForm.t3.checked = {{reserved[7]}}
            //          document.myForm.t4.checked = {{reserved[8]}}
            //          document.myForm.star.options[{{reserved[9]}}].selected = true;
            //      {% endif %}
            //  });
            </script>


        <div class="resultBg" style="display:inline-block;vertical-align: top;text-align: center;">
            <!-- 麵包屑 -->
            <ul class="breadcrumb" style="padding:1% 15px;width: 80%;margin: auto;text-align: center">
                <li><a href="/">首頁</a></li>
                <li><a href="search">找醫療機構</a></li>
                <li id="bread" style="color:rgba(0, 0, 0, 0.5)">醫療機構比較</li>
            </ul>
            <div style="text-align:center;padding-top: 10px">
                <h5 class="resultText">搜尋條件<span><img src="static/條件下.png" height="5px"
                                                      style="padding-left:5px"></span></h5>
            </div>
            <div class="resultAll">
                <div class="resultInput">

                    <div class="col" style="margin:2px auto;">
                        <h6>地區</h6>
                        <select class="form-control form-control-sm resultArea " id="county" name="hospCounty"
                                onChange="hospRenew(this.selectedIndex);">
                            <option selected value="0">選擇縣市</option>
                            <option value="1">基隆市</option>
                            <option value="2">臺北市</option>
                            <option value="3">新北市</option>
                            <option value="4">桃園市</option>
                            <option value="5">新竹縣</option>
                            <option value="6">新竹市</option>
                            <option value="7">苗栗縣</option>
                            <option value="8">臺中市</option>
                            <option value="9">彰化縣</option>
                            <option value="10">南投縣</option>
                            <option value="11">雲林縣</option>
                            <option value="12">嘉義市</option>
                            <option value="13">嘉義縣</option>
                            <option value="14">臺南市</option>
                            <option value="15">高雄市</option>
                            <option value="16">屏東縣</option>
                            <option value="17">臺東縣</option>
                            <option value="18">花蓮縣</option>
                            <option value="19">宜蘭縣</option>
                            <option value="20">澎湖縣</option>
                            <option value="21">金門縣</option>
                            <option value="22">連江縣</option>
                        </select>
                        <select class="form-control form-control-sm resultArea" id="hospTownship"
                                name="hospTownship">
                            <option selected value="0">鄉鎮市區</option>
                        </select>
                    </div>
                    <div class="col" style="margin:2px auto;color: #000000">
                        <span class="searchItem">醫院或診所名稱</span><span style="font-size:14px;color: #000000">
                                &nbsp;(最多可以比較三家醫院或診所)</span>
                        <div></div>
                        <input type="textbox" class="form-control form-control-sm resultName name" id="name1"
                               name="hospName1" placeholder="醫院或診所名稱">
                        <input type="textbox" class="form-control form-control-sm resultName name" id="name2"
                               name="hospName2" placeholder="+ 醫院或診所名稱">
                        <input type="textbox" class="form-control form-control-sm resultName name" id="name3"
                               name="hospName3" placeholder="+ 醫院或診所名稱">
                    </div>

                </div>
                <div class="resultInput">
                    <div class="col" style="margin:2px auto;color: #000000">
                        <h6>星等</h6>
                        <select class="form-control form-control-sm resultStar" id="star" name="hospStar">
                            <option selected value="">星等</option>
                            <option value="1">1星+</option>
                            <option value="2">2星+</option>
                            <option value="3">3星+</option>
                            <option value="4">4星+</option>
                            <option value="5">5星</option>
                        </select>
                    </div>
                    <div class="col" style="margin:2% auto;">
                        <span class="searchItem">醫院大小</span><span style="font-size:14px;color: #000000">
                                &nbsp;(可以不勾選)</span>
                        <div style="font-size: 15px">
                            <input type="checkbox" value="1" id="t1" name="hospType" />
                            <label for="t1" class="resultType"><span></span>醫學中心</label>
                            <input type="checkbox" value="2" id="t2" name="hospType" />
                            <label for="t2" class="resultType"><span></span>區域醫院</label>
                            <input type="checkbox" value="3" id="t3" name="hospType" />
                            <label for="t3" class="resultType"><span></span>地區醫院</label>
                            <input type="checkbox" value="4" id="t4" name="hospType" />
                            <label for="t4" class="resultType"><span></span>診所</label>
                        </div>
                    </div>

                </div>



                <!--清除浮動 -->
                <div style="clear:both;"></div>
                <div style="margin:10px 0px">
                    <div style="text-align:left;display: inline-block;vertical-align: top;">
                        <a href="">
                            <button id="btnSearch" type="submit" class="btn-sm btnStart" style="padding:8px 15px;"
                                    name="btnSearchHosp"><img src="static/search.png"
                                                              style="width:17px;padding-right:5px;" onclick="hosp()">
                                搜尋</button>
                        </a>
                    </div>
                </div>
            </div>
            <script>
                    //條件收合
                    $(".resultText").click(function () {
                        $(".resultAll").slideToggle("fast");
                    });
                </script>
        </div>
        <!-- 結果 -->
        <div style="text-align: left;">
            <!-- {% if scroll %} -->
            <script>
                    document.location.hash = '#' + '{{ scroll }}';
                </script>
            <!-- {% endif %} -->

            <div style="margin:15px;text-align: center">
                <h3>醫療機構比較結果</h3>
            </div>
            <!-- 圖案解釋 -->
            <div style="display: inline-block;vertical-align: middle;margin:5px 2%;">
                <div class="percentSize">
                    <img src="static/apple.png" style="vertical-align: sub;" height="20px" title="">&nbsp;好蘋果&nbsp;
                    <img src="static/badApple.png" style="vertical-align: sub;" height="20px" title="">&nbsp;壞蘋果
                </div>
            </div>
        </div>
        <!--清除浮動 -->
        <div style="clear:both;"></div>
        <!-- 結果 -->
        <div id="results" style="text-align: left;">
            <div
                    style="background-color:rgba(184,206,217,0.5);margin:10px 2%;width:96%; word-break:break-all; overflow: auto;">
                <div style="margin:0px auto;" class="tableWidth">
                    <table class="table table-hover" style="border:2px rgba(101,129,152,0.8) solid;text-align:left;"
                           rules="all">
                        <!-- <thead style="text-align:center;margin:0px auto;" id="thead"> -->
                        <tbody style="font-size:15px" id="thead">
                        <tr style="text-align:center;vertical-align: middle;margin:0px auto;background-color:rgba(184,206,217,1);">
                            {% for col, des in z_col %}
                            <th style="background-color:rgba(184,206,217,1); vertical-align: middle;" valign="center">
                                {{ col }}
                                <img src="{{ url_for('static', filename='指標說明.png')}}" height="20px" title="{{ des }}">
                            </th>
                            {% endfor %}
                        </tr>

                        <!-- </thead> -->
                        {% for n, v in z_data%}
                        <tr>
                            <td style="background-color:rgba(184,206,217,1);width:280px;font-size:17px;">
                                {{ n[0] }}</td>
                            {% for i in range(7)%}
                            <td rowspan="4"
                                style="vertical-align:middle;text-align:center;font-size:14px;width:250px">

                                {% if v[0] < 30 %}
                                        資料不足
                                {% else %}
                                    {% if v[i+1] == None%}
                                    無資料
                                {% else %}
                                    {% if v[i+1] >= 70 %}
                                        <img src="static/apple.png" height="50px">
                                    {% else %}
                                        <img src="static/badApple.png" height="50px">
                                    {% endif %}
                                    <br>{{ v[i+1] }}%
                                {% endif %}
{% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                {{ n[1] }}
                                {% if 0 <= n[1] < 0.5 %}
                                <img src="{{ url_for('static', filename='0星.png')}}" height="25%">
                                {% endif %}
                                {% if 0.5 <= n[1] < 1 %}
                                <img src="{{ url_for('static', filename='0半星.png')}}" height="25%">
                                {% endif %}
                                {% if 1 <= n[1] < 1.5 %}
                                <img src="{{ url_for('static', filename='1星.png')}}" height="25%">
                                {% endif %}
                                {% if 1.5 <= n[1] < 2 %}
                                <img src="{{ url_for('static', filename='1半星.png')}}" height="25%">
                                {% endif %}
                                {% if 2 <= n[1] < 2.5 %}
                                <img src="{{ url_for('static', filename='2星.png')}}" height="25%">
                                {% endif %}
                                {% if 2.5 <= n[1] < 3 %}
                                <img src="{{ url_for('static', filename='2半星.png')}}" height="25%">
                                {% endif %}
                                {% if 3 <= n[1] < 3.5 %}
                                <img src="{{ url_for('static', filename='3星.png')}}" height="25%">
                                {% endif %}
                                {% if 3.5 <= n[1] < 4 %}
                                <img src="{{ url_for('static', filename='3半星.png')}}" height="25%">
                                {% endif %}
                                {% if 4 <= n[1] < 4.5 %}
                                <img src="{{ url_for('static', filename='4星.png')}}" height="25%">
                                {% endif %}
                                {% if 4.5 <= n[1] < 5 %}
                                <img src="{{ url_for('static', filename='4半星.png')}}" height="25%">
                                {% endif %}
                                {% if n[1] == 5 %}
                                <img src="{{ url_for('static', filename='5星.png')}}" height="20px">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>正面評論數：{{ n[2] }} &nbsp; 負面評論數：{{ n[3] }}</td>
                        </tr>

                        <tr title={{ n[5] }}>
                            <td>
                                <!-- 電話 -->
                                <img style="vertical-align: sub;" src="static/phone.png" height="20em"
                                     title="">&nbsp;
                                <span style="font-size:15px;">{{ n[4] }}</span>&nbsp;
                                <!-- google map -->
                                <a href="https://www.google.com.tw/maps/place/{{ n[5] }}" class="map"
                                   target="_blank">
                                    <img title="在地圖中開啟" style="vertical-align: sub;" src="static/address.png"
                                         height="20em">&nbsp;
                                    <span title="{{ n[5] }}" style="font-size:15px;">在地圖中開啟</span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 結果分頁 -->
        <div class="center5 span">
            <div style=" width: 150px;height: 60px;overflow: auto; overflow-y:hidden;margin: 0px auto">
                <h2></h2>
            </div>
        </div>
    </div>
</form>



<!-- footer -->
<div style="margin-top:20px;" class="span" id="footer">
    <div style="background-color:rgb(101,129,152);">
        <div class="footerText">
            <div style="text-align:left; color: white;padding:5%">
                <ul style="list-style-position: outside;margin:0">
                    <li style="font-weight:bold;">輔仁大學醫療評價計畫團隊介紹：</li>
                    <h6>
                        - 商研所: 李天行 教授<br>
                        - 公衛系: 陳宗泰 副教授<br>
                        - 資工系: 徐嘉連 副教授<br>
                        - 應美系: 陳力豪 副教授<br>
                        - 醫資學程: 程伊萱、林昱彤、蔡亞立、胡瀚文 同學
                    </h6>
                    <li style="font-weight:bold;">給予我們任何<a href="https://goo.gl/forms/0M3BmbWXczWYmD9X2"
                                                           target="_blank" style="color:	pink;"><u>意見</u></a></li>

                    <!-- Start of CuterCounter Code -->
                    <li style="font-weight:bold;">您是第&nbsp;<a
                            href="http://www.cutercounter.com/traditional-chinese-n/" target="_blank"><img
                            src="http://www.cutercounter.com/hit.php?id=gvundckd&nd=6&style=51"
                            alt="網頁計數器"></a>&nbsp;位訪客</li>
                    <!-- End of CuterCounter Code -->
                </ul>
            </div>
        </div>
        <div class="footerImg">
            <div class="span" style="vertical-align:middle;text-align:center;">
                <img src="static/聯絡4.0.png" style="width:60%;margin:10%">

            </div>
        </div>
        <hr>
        <div style="padding:1% 5%">
            <p style="text-align:center;font-size:12px;"> 本網站版權屬於 輔仁大學醫療評價計畫團隊所有，未經本站同意，請勿擅用圖案。<br>Copyright ©
                2019
                - FJU
                Physician/Hospital Rating Website Team All Rights Reserved</p>
        </div>
    </div>
</div>
</body>

</html>